<div class="admin container">


  <div class="row">
    <h1 class="col-md-12" >Admin Panel</h1>
  </div>


  <div class="row ">
    <h2 class="col-md-9">Bar Listing</h2>
    <a class="btn btn-primary col-md-1" href="/admin/newBar"> New Bar</a>
    <a class="btn btn-primary col-md-1 col-md-push-1" href="/admin/scrape"> Scrape Bars</a>
  </div>



  <div class="row">
    <div class="col-md-12">
    <table class="table table-striped table-bordered">

      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Number</th>
        <th>Trivia Time</th>
        <th>Trivia Day</th>
        <th>Lat</th>
        <th>Long</th>
        <th>Type</th>
        <th>Edit</th>

      </tr>

      <% @all_bars.each do |bar| %>

            <tr>

              <td>
                <%= bar.id %>
              </td>
              <td>
                <%= bar.name %>
              </td>
              <td>
                <%= bar.address %>
              </td>
              <td>
                <%= bar.city %>
              </td>
              <td>
                <%= bar.state %>
              </td>
              <td>
                <%= bar.zip %>
              </td>
              <td>
                <%= bar.phone %>
              </td>
              <td>
                <%= bar.trivia_time %>
              </td>
              <td>
                <%= bar.trivia_day %>
              </td>
              <td>
                <%= bar.lat %>
              </td>
              <td>
                <%= bar.long %>
              </td>
              <td>
                <%= bar.trivia_type %>
              </td>
              <td>
                <a href = <%= "/admin/editBar/#{bar.id}"%>> Edit </a>
              </td>

            </tr>

      <%end%>

    </table>
    </div>
  </div>

</div>
