<div class="container">

<h1>Bar Trivia Listing</h1>

  <div class="row">
    <div class="col-md-12">
      <h3 class="day-header">Sunday</h3>
    </div>
  </div>

  <% @bars_by_day[:sunday].each do |bar|%>
      <div class="row">
        <div class="col-md-4">
          <%= bar.trivia_time %>
        </div>
        <div class="col-md-4">
          <%= bar.name %>
        </div>
        <div class="col-md-4">
          <%= bar.address %>
        </div>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3 class="day-header">Monday</h3>
    </div>
  </div>

  <% @bars_by_day[:monday].each do |bar|%>
      <div class="row">
        <div class="col-md-4">
          <%= bar.trivia_time %>
        </div>
        <div class="col-md-4">
          <%= bar.name %>
        </div>
        <div class="col-md-4">
          <%= bar.address %>
        </div>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3 class="day-header">Tuesday</h3>
    </div>
  </div>

  <% @bars_by_day[:tuesday].each do |bar|%>
      <div class="row">
        <div class="col-md-4">
          <%= bar.trivia_time %>
        </div>
        <div class="col-md-4">
          <%= bar.name %>
        </div>
        <div class="col-md-4">
          <%= bar.address %>
        </div>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3 class="day-header">Wednesday</h3>
    </div>
  </div>

  <% @bars_by_day[:wednesday].each do |bar|%>
      <div class="row">
        <div class="col-md-4">
          <%= bar.trivia_time %>
        </div>
        <div class="col-md-4">
          <%= bar.name %>
        </div>
        <div class="col-md-4">
          <%= bar.address %>
        </div>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3 class="day-header">Thursday</h3>
    </div>
  </div>

  <% @bars_by_day[:thursday].each do |bar|%>
      <div class="row">
        <div class="col-md-4">
          <%= bar.trivia_time %>
        </div>
        <div class="col-md-4">
          <%= bar.name %>
        </div>
        <div class="col-md-4">
          <%= bar.address %>
        </div>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3 class="day-header">Friday</h3>
    </div>
  </div>

  <% @bars_by_day[:friday].each do |bar|%>
      <div class="row">
        <div class="col-md-4">
          <%= bar.trivia_time %>
        </div>
        <div class="col-md-4">
          <%= bar.name %>
        </div>
        <div class="col-md-4">
          <%= bar.address %>
        </div>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3 class="day-header">Saturday</h3>
    </div>
  </div>

  <% @bars_by_day[:saturday].each do |bar|%>
      <div class="row">
        <div class="col-md-4">
          <%= bar.trivia_time %>
        </div>
        <div class="col-md-4">
          <%= bar.name %>
        </div>
        <div class="col-md-4">
          <%= bar.address %>
        </div>
      </div>
  <% end %>

</div>
