<!DOCTYPE html>
<html>
<head>
  <title>Boston Trivia</title>

  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO -->
  <meta name="author" content="Michael Signorella">
  <meta name="description" content="Trivia Compass ">
  <meta name="keywords" content="Trivia Compass, Michael Signorella, Boston">

  <!-- Social: Facebook /Open Graph -->
  <meta property="og:url" content="https://www.silvergobletgames.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Trivia Compass">
  <meta property="og:image" content="https://www.silvergobletgames.com/assets/img/silver-goblet-big.png"/>
  <meta property="og:description" content="Trivia Compass">
  <meta property="og:site_name" content="Trivia Compass">

  <!-- /meta -->

  <!-- favicon -->
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <!-- head js -->
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


  <!-- application css -->
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <!-- csrf meta -->
  <%= csrf_meta_tags %>

</head>
<body>

<div class="push-wrap">

  <!-- header -->
  <%= render 'layouts/header' %>

  <!-- body -->
  <div class="<%= controller_name %> <%= action_name %>">
     <%= yield %>
  </div>

  <div class="push"></div>
</div>

<!-- footer -->
<%= render 'layouts/footer' %>


<!-- application javascript -->
<%= javascript_include_tag 'application' %>

<!-- google maps -->
<script async defer src= <%= "https://maps.googleapis.com/maps/api/js?key=#{Rails.configuration.google_maps_api_key}&callback=mapPage.initMap"%>></script>

</body>
</html>
