<!DOCTYPE html>
<html>
<head>

  <!-- meta -->
  <meta http-equiv="x-ua-compatible" content="IE=edge" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO -->
  <meta name="author" content="Michael Signorella">
  <meta name="description" content="Trivia Compass ">
  <meta name="keywords" content="Trivia Compass, Michael Signorella, Boston, Trivia, Find local trivia, Trivia near you">

  <!-- Social: Facebook /Open Graph -->
  <meta property="og:url" content="https://www.triviacompass.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Trivia Compass">
  <meta property="og:description" content="Find bar trivia near you!">
  <meta property="og:site_name" content="Trivia Compass">

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%=Rails.configuration.google_analytics_key%>', 'auto');
    ga('send', 'pageview');

  </script>

  <!-- title -->
  <title>Trivia Compass</title>

  <!-- favicon -->
  <%= favicon_link_tag 'favicon.ico' %>

  <!-- html5 shiv -->
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <!-- google maps -->
  <script src= <%= "https://maps.googleapis.com/maps/api/js?key=#{Rails.configuration.google_maps_key}&libraries=places"%>></script>

  <!-- application javascript -->
  <%= javascript_include_tag 'application' %>

  <!-- application css -->
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <!-- csrf meta -->
  <%= csrf_meta_tags %>

</head>
<body>

<div class="push-wrap">

  <!-- header -->
  <%= render 'layouts/header' %>

  <!-- body -->
  <div class="<%= controller_name %> <%= action_name %>" ng-app="TriviaApp">
     <%= yield %>
  </div>

  <div class="push"></div>
</div>

<!-- footer -->
<%= render 'layouts/footer' %>

</body>
</html>
